body {
  font-family: 'Times New Roman', Times, serif;
}

hr {
  margin: 10px 15px 10px 0px;
  color: #FFF0E3;
}

#titleEdit {
  margin-top: 10px;
  border: 0;
  background-color: #282828;
  color: #FFF0E3;
  font-size: larger;
  font-size: 2em;
  font-weight: bold;
  font-family: inherit;
  padding: 0;
  width: 100%;
}

#titleEdit:focus {
  outline: none;
}
/* Container */
.tiptap-container {
  display: flex;
  flex-direction: column;
  padding: 0px 16px 0px 12px;
  background-color: #282828;
  height: calc(100vh - 22px);
  cursor: text;
  border-radius: 12px 0px 0px 12px;
  height: 100vh;
}

.tiptap-container > div {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
  margin-bottom: 10px;
}

.ProseMirror {
  outline: none;
  font-family: inherit;
  flex-grow: 1;
}

.ProseMirror p.is-editor-empty:first-child::before {
  color: #959595;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.tiptap pre {
  background-color: #1e1e1e;
  color: #FFF0E3;
  border: 1px solid #333333;
  border-radius: 6px;
  padding: 1rem;
  margin-right: 10px;
}

.tiptap pre code {
  font-family: 'Fira Code', 'Courier New', Courier, monospace;
}

.errorMessage {
  position: absolute;
  top: 20px;
  right: 20px;
  color: red;
}